Package: com.sticktron.ahahah
Name: Ah! Ah! Ah!
Version: 1.2
Architecture: iphoneos-arm
Depends: firmware (>= 7.0), mobilesubstrate, preferenceloader
Description: A customizable unlock error alarm inspired by Jurassic Park.
Author: Sticktron <sticktron@hotmail.com>
Maintainer: Sticktron
Icon: file:///Library/PreferenceBundles/AhAhAhPrefs.bundle/Icon.png
Section: Tweaks
