Package: com.sticktron.ahahah
Name: Ah!Ah!Ah! (iOS 9)
Version: 2.0-beta-one
Architecture: iphoneos-arm
Depends: firmware (>= 7.0), mobilesubstrate, preferenceloader
Description: Themeable unlock error alarm inspired by Jurassic Park.
Author: Sticktron <sticktron@hotmail.com>
Maintainer: Sticktron
Icon: file:///Library/PreferenceBundles/AhAhAhPrefs.bundle/Icon.png
Section: Tweaks
