<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Ah! Ah! Ah!</string>
	
	<key>items</key>
	<array>

		<!-- [] ENABLE/DISABLE -->		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>⚠️ SpringBoard must be restarted to enable or disable this tweak.</string>
		</dict>
		
		<!-- Enabled (YES) -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sticktron.ahahah</string>
		</dict>
		
		<!-- Respring -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
			<key>confirmation</key>
			<dict>
				<key>title</key>
				<string>Respring?</string>
				<key>prompt</key>
				<string>Restart SpringBoard?</string>
				<key>cancelTitle</key>
				<string>Not Now</string>
				<key>okTitle</key>
				<string>OK</string>
			</dict>
			<key>isDestructive</key>
			<true/>
		</dict>
		
		
		<!-- [] CUSTOMIZE -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customize</string>
			<key>footerText</key>
			<string></string>
		</dict>
		
		<!-- Media Picker -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Choose Video or Background</string>
			<key>detail</key>
			<string>AhAhAhPrefsMediaController</string>
		</dict>
		
		<!-- FullScreenVideo (NO) -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>FullScreen Video</string>
			<key>key</key>
			<string>FullScreenVideo</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sticktron.ahahah</string>
			<key>PostNotification</key>
			<string>com.sticktron.ahahah.prefschanged</string>
		</dict>
		
		
		<!-- [] ACTIVATING -->		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Activating</string>
		</dict>
		
		<!-- MaxFailures (2) -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Max Failed Attempts</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>key</key>
			<string>MaxFailures</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.sticktron.ahahah</string>
			<key>PostNotification</key>
			<string>com.sticktron.ahahah.prefschanged</string>
		</dict>
		
		<!-- IgnoreBioFailure (YES) -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>IgnoreBioFailure</string>
			<key>label</key>
			<string>Don't count TouchID fails</string>
			<key>key</key>
			<string>IgnoreBioFailure</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sticktron.ahahah</string>
			<key>PostNotification</key>
			<string>com.sticktron.ahahah.prefschanged</string>
		</dict>
		
		
		<!-- [] DE-ACTIVATING -->		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Deactivating</string>
			<key>footerText</key>
			<string>The alarm will automatically stop when the device goes to sleep.</string>
		</dict>
		
		<!-- AllowBioRemoval (NO) -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>AllowBioRemoval</string>
			<key>label</key>
			<string>Remove using TouchID</string>
			<key>key</key>
			<string>AllowBioRemoval</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.sticktron.ahahah</string>
			<key>PostNotification</key>
			<string>com.sticktron.ahahah.prefschanged</string>
		</dict>
		
		<!-- AllowLockRemoval (YES) -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Remove using Lock Button</string>
			<key>key</key>
			<string>AllowLockRemoval</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sticktron.ahahah</string>
			<key>PostNotification</key>
			<string>com.sticktron.ahahah.prefschanged</string>
		</dict>
		
		
		<!-- [] SUPPORT -->
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
			
		<!-- Email -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Contact me</string>
			<key>icon</key>
			<string>email.png</string>
			<key>action</key>
			<string>openEmail</string>
		</dict>
		
		<!-- Twitter -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
		
		<!-- Source Code -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>action</key>
			<string>openGitHub</string>
		</dict>

		<!-- Tip Me -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Tip me if you like this tweak :)</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>action</key>
			<string>openPayPal</string>
		</dict>
			
			
		<!-- [] Visit Website -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Visit my website</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Sticktron's Lab</string>
			<key>icon</key>
			<string>web.png</string>
			<key>action</key>
			<string>openSticktronWeb</string>
		</dict>
			
			
		<!-- [] THANKS -->		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Thanks to /u/harrybond for the idea.
Shoutout to milodarling for helping with the iOS 8 update.

Copyright (c) 2015 Sticktron.
			
			</string>
		</dict>
		
	</array>
</dict>
</plist>
