{
	title = "Ah!Ah!Ah!";
	items = (
		{
			cell = PSGroupCell;
			headerCellClass = AhAhAhLogoCell;
		},
		{
			cell = PSSwitchCell;
			cellClass = AhAhAhSwitchCell;
			label = Enabled;
			key = Enabled;
			default = 1;
			defaults = "com.sticktron.ahahah";
		},
		
		
		{
			cell = PSGroupCell;
		},
		{
			cell = PSLinkCell;
			label = "Customize Alarm";
			detail = AhAhAhPrefsThemeController;
		},
		
		
		{
			cell = PSGroupCell;
			label = "ACTIVATING";
		},
		{
			cell = PSLinkListCell;
			label = "Max Failed Unlocks";
			detail = "PSListItemsController";
			validTitles = (
				1,
				2,
				3,
				4,
				5,
			);
			validValues = (
				1,
				2,
				3,
				4,
				5,
			);
			key = MaxFailures;
			default = 2;
			defaults = "com.sticktron.ahahah";
			PostNotification = "com.sticktron.ahahah.prefschanged";
		},
		{
			cell = PSSwitchCell;
			cellClass = AhAhAhSwitchCell;
			id = IgnoreBioFailure;
			label = "Ignore Touch ID Fails";
			key = IgnoreBioFailure;
			default = 0;
			defaults = "com.sticktron.ahahah";
			PostNotification = "com.sticktron.ahahah.prefschanged";
		},
		
		
		{
			cell = PSGroupCell;
			label = "DEACTIVATING";
			footerText = "If neither option is selected the user will not be able to stop the alarm. The alarm will eventually stop on its own to avoid battery drain.";
		},
		{
			cell = PSSwitchCell;
			cellClass = AhAhAhSwitchCell;
			id = AllowBioRemoval;
			label = "Stop After Touch ID Match";
			key = AllowBioRemoval;
			default = 1;
			defaults = "com.sticktron.ahahah";
			PostNotification = "com.sticktron.ahahah.prefschanged";
		},
		{
			cell = PSSwitchCell;
			cellClass = AhAhAhSwitchCell;
			label = "Stop After Lock Button Press";
			key = AllowLockRemoval;
			default = 0;
			defaults = "com.sticktron.ahahah";
			PostNotification = "com.sticktron.ahahah.prefschanged";
		},
		
		
		{
			cell = PSGroupCell;
			label = SUPPORT;
		},
		{
			cell = PSButtonCell;
			cellClass = AhAhAhButtonCell;
			label = "Send an Email";
			icon = "Email.png";
			action = openEmail;
		},
		{
			cell = PSButtonCell;
			cellClass = AhAhAhButtonCell;
			label = "Send a Tweet";
			icon = "Twitter.png";
			action = openTwitter;
		},
		{
			cell = PSButtonCell;
			cellClass = AhAhAhButtonCell;
			label = "Find me on Reddit";
			icon = "Reddit.png";
			action = openReddit;
		},
		{
			cell = PSButtonCell;
			cellClass = AhAhAhButtonCell;
			label = "Contribute to Source Code";
			icon = "GitHub.png";
			action = openGitHub;
		},
		{
			cell = PSButtonCell;
			cellClass = AhAhAhButtonCell;
			label = "Contribute via PayPal";
			icon = "PayPal.png";
			action = openPayPal;
		},
		
		
		{
			cell = PSGroupCell;
			footerText = "Copyright \U00a9 2014-2016 Sticktron\n\n\Ud83d\Ude08\n\n";
			footerAlignment = 1;
		},
		{
			cell = PSLinkCell;
			label = "Credits";
			detail = AhAhAhPrefsCreditsController;
		},
	);
}